body {
  font-family: Arial;
  background: #f2f2f2;
}

h1 {
  text-align: center;
}

.box {
  background: white;
  width: 360px;
  margin: 15px auto;
  padding: 15px;
  border-radius: 8px;
}

input, select, button {
  width: 90%;
  padding: 8px;
  margin: 5px 0;
}

button {
  background: #1e88e5;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background: #0d47a1;
}

.bus {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 8px 0;
}

#seatLayout {
  display: grid;
  grid-template-columns: repeat(4, 60px);
  gap: 8px;
  justify-content: center;
}

.seat {
  padding: 10px;
  background: #ddd;
  text-align: center;
  cursor: pointer;
  border-radius: 5px;
}

.seat.selected {
  background: green;
  color: white;
}